
header p {
    color: #D4AF37;
    margin-bottom: 10px;
}

li a {
    color: #D4AF37;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

h1 {
    font-size: 40px; 
    color: #D4AF37;
    margin-bottom: 20px;
}

label {
    color: #D4AF37;
    font-size: 30px;
    font-style: italic;
    cursor: pointer;
}

body {
    background: #9bb6d1 url("images./background.png") no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

form, .container {
    background: #141c2eb3;
}

fieldset {
    background: #141c2eb3; 
    padding: 20px;
    border-radius: 10px;
    border: none;
}